body {
  margin: 0;
  line-height: normal;
}
.line-icon,
.line-icon1 {
  position: absolute;
  top: 330.75px;
  left: 95px;
  width: 203px;
  height: 0.25px;
  object-fit: cover;
}
.line-icon1 {
  top: 422px;
  left: 50px;
  width: 320px;
  height: 1px;
}
.rectangle-a {
  text-decoration: none;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 9px;
  background-color: #000;
  width: 95px;
  height: 36px;
}
.gi-in-div {
  position: absolute;
  top: 10px;
  left: 33px;
  display: inline-block;
}
.icon-phone-call {
  position: absolute;
  height: 43.37%;
  width: 16.43%;
  top: 27.78%;
  right: 75.15%;
  bottom: 28.86%;
  left: 8.42%;
  max-width: 100%;
  max-height: 100%;
}
.group-div,
.rectangle-a1 {
  position: absolute;
  height: 36px;
}
.group-div {
  top: 357px;
  left: 73px;
  width: 95px;
  color: #fff;
}
.rectangle-a1 {
  text-decoration: none;
  top: 0;
  left: 0;
  border-radius: 9px;
  background-color: #fff;
  border: 1px solid #000;
  box-sizing: border-box;
  width: 124px;
}
.lu-danh-b {
  position: absolute;
  top: 10px;
  left: 34px;
  display: inline-block;
}
.icon-book-bookmark {
  position: absolute;
  height: 52.79%;
  width: 12.59%;
  top: 22.22%;
  right: 80.96%;
  bottom: 24.99%;
  left: 6.45%;
  max-width: 100%;
  max-height: 100%;
}
.group-div1,
.rectangle-a2 {
  position: absolute;
  top: 359px;
  left: 217px;
  width: 124px;
  height: 36px;
}
.rectangle-a2 {
  text-decoration: none;
  top: 0;
  left: 0;
  border-radius: 45px;
  background-color: #f0f0f0;
  width: 252px;
  height: 44px;
}
.facebook-div {
  position: absolute;
  top: 14px;
  left: 99px;
  display: inline-block;
}
.icon-facebook-v1 {
  position: absolute;
  height: 65.91%;
  width: 11.51%;
  top: 18.18%;
  right: 83.73%;
  bottom: 15.91%;
  left: 4.76%;
  max-width: 100%;
  max-height: 100%;
}
.group-div2 {
  position: absolute;
  top: 451px;
  left: 77px;
  width: 252px;
  height: 44px;
}
.ellipse-icon,
.icon-play-audio {
  position: absolute;
  top: 0;
  left: 0;
  width: 29px;
  height: 29px;
}
.icon-play-audio {
  height: 65.78%;
  width: 55.66%;
  top: 17.24%;
  right: 13.31%;
  bottom: 16.98%;
  left: 31.03%;
}
.group-div3 {
  position: absolute;
  top: 629px;
  left: 192px;
  width: 29px;
  height: 29px;
}
.mail-div {
  position: absolute;
  top: 14px;
  left: 111px;
  display: inline-block;
}
.group-icon {
  position: absolute;
  top: 8px;
  left: 12px;
  width: 29px;
  height: 29px;
  object-fit: cover;
}
.group-div4 {
  position: absolute;
  top: 568px;
  left: 77px;
  width: 252px;
  height: 44px;
}
.momo-div {
  position: absolute;
  top: 14px;
  left: 110px;
  display: inline-block;
}
.group-icon1 {
  position: absolute;
  top: 7px;
  left: 12px;
  width: 29px;
  height: 29px;
  object-fit: cover;
}
.group-div5 {
  position: absolute;
  top: 510px;
  left: 77px;
  width: 252px;
  height: 44px;
}
.nguyn-th-m-linh,
.ntml-a {
  position: absolute;
  top: 170px;
  left: 0;
  display: inline-block;
}
.ntml-a {
  text-decoration: none;
  top: 212px;
  left: 68px;
  font-size: 14px;
  color: inherit;
}
.ellipse-icon1,
.lab-22-1-icon {
  position: absolute;
  top: 88px;
  left: 135px;
  width: 144px;
  height: 144px;
}
.lab-22-1-icon {
  top: 87px;
  left: 99px;
  width: 216px;
  height: 145px;
  object-fit: cover;
}
.intersect-div {
  position: relative;
  width: 144px;
  height: 144px;
  background-image: url(./public/intersect@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.group-div6 {
  position: absolute;
  top: 88px;
  left: 111px;
  width: 192px;
  height: 228px;
  font-size: 22px;
}
.iphone-8-plus-1 {
  position: relative;
  background-color: #fff;
  width: 414px;
  height: 736px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: 14px;
  color: #000;
  font-family: Roboto;
}
