
     *{ 
       margin: 0;
     }
     /* LARGURA  */
     html,
      body {
        height: 100%;
      }
      /* Display do BODY E CENTRALIZANDO ITENS */
      body {
        display: grid;
        place-items: center;
        font-family: 'Roboto', sans-serif;
        -webkit-font-smoothing: antialiased;


        --gray: hsla(240, 9%, 89%,1);
        --black:hsla(240, 6%, 13%, 1);
       
        
      }

      /* BACKGROUND DA PÁGINA */
      main {
        background: url(images/background.svg) no-repeat center/cover;
        width: 100vw;
        min-height: 812px;
        height: 100vh;
    }
      /* TOD CONTEÚDO DA PÁGINA CENTRAL */
      .container{ 
        max-width: 250px;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
      }
      .tel{
        display: flex;
      }

      /* AVATAR / FOTO DA PESSOA*/
      .avatar{ 
        width: 10rem;
        margin: 11.5rem auto 0;
        position: relative;
      }
      .avatar > img{ 
       width: 10rem;
       height: 11.5rem;
       object-fit: cover;
       clip-path: circle();
      }
      /* TAMANHO DA FONTE DO NOME DA PESOA */
      h1 {
        font-size: 1.5rem;
        color: var(--gray);
        margin-top: 1.5rem;
      }
        /* Parágrafo  */
      p{ 
        color: var(--gray);
        margin-top: 2rem;
      }
      /* DETALHES DO LINK - INSTAGRAM */
      a {
        color: var(--gray);
        text-decoration: none;
        margin-top: 0.25rem;
        display: flex;
        gap: 0.75rem;
        justify-content: center;
        align-items: center;
      }
    .fotodapessoa{ 
      width: 100%;
      
    }
      /* Redes Sociais */
    ul{ 
      margin-top:3rem;
      
      list-style: none;
      padding: 0;
      display: flex;
      gap: 0.5rem;
      justify-content: center;
    }
